/* ------------------------------------------------------------------------ CSS RERSET ------------------------------------------------------------------------------------------ */

*, *:before, *:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* accessibility for keyboards */
a:focus {
  outline: 2px solid olive;
  outline-offset: 2px;
}


/* --------------------------------------------------- ABOUT US PAGE ---------------------------------------------------------- */

.about-us-page {
    padding: 4rem 2rem 2rem 2rem;
}

.about-us-page img {
    border-radius: 10px;
}

.about-us-page h2 {
    text-align: center;
}

.about-us-page-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0 2rem 0;
}

/* --------------------------------------------------- PRACTICE AREAS PAGE ---------------------------------------------------------- */

.practice-flex {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
}

.practice-flex-heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2rem;
}

.practice-flex-heading h2 {
    padding: 0 1rem;
}


.cards-flex {
    display: flex;
    flex-direction: column;
}

.practice-page-card {
    border-top: 1px solid silver;
    text-decoration: none;
    color: black;
}

.practice-page-card:last-child {
    border-bottom: 1px solid silver;
}

.card-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;
}

.practice-page-card:hover {
    background-color: #9C7A2F;
    color: white;
}

.practice-page-card:hover .card-text {
        padding: 2rem 3rem;
    }

.card-decoration {
    display: flex;
    flex-direction: row;
}

.card-accent-line {
    height: 0.1rem;
    width: 10rem;
    background-color: #9C7A2F;
}

/* --------------------------------------------------- PRACTICE AREAS PAGES ---------------------------------------------------------- */

.practice-area-page {
    padding: 4rem 2rem 2rem 2rem;
}

.practice-area-page h2 {
    padding-bottom: 2rem;
}

.practice-area-page p {
    text-align: left;
}

.nav-sidebar {
    display: none;
}

/* --------------------------------------------------- PROFILE BIO PAGE ---------------------------------------------------------- */

.profile-page {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.profile-additional-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0 0 0;
}

.profile-additional-info > div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.profile-additional-info svg {
    height: 20px;
}

.profile-additional-info a {
    text-decoration: none;
    color: #9C7A2F;
    transition: color 0.3s ease;
}

.profile-additional-info a:hover {
    color: olive;
}

/* ------------------------------------------------------------ EDGE CASE: small mobile screens -------------------------------------------------------------------------------- */

@media (max-width: 400px) {
    
}

/* -------------------------------------------------------------------------- TABLET -------------------------------------------------------------------------------------------*/

@media (min-width: 768px)  {

    .practice-area-page {
        padding: 4rem;
    }

    .profile-additional-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* -------------------------------------------------------------------------- LAPTOP -------------------------------------------------------------------------------------------*/

@media (min-width: 1024px) {

    .about-us-page {
        padding: 4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }


    .practice-page-headeing {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        padding: 0 0 4rem 0;
    }

    .practice-card {
        width: 16rem;
        height: 14rem;
    }

    .contact-side-by-side-form {
        padding: 4rem 8rem;
    }

    .card-text {
        padding: 2rem 0;
    }

    .practice-card:hover .card-text {
        padding: 2rem 3rem;
    }

    .card-accent-line {
        width: 10rem;
        height: 0.2rem;
    }

    .practice-flex {
        padding: 4rem 12rem;
    }

    .practice-area-page {
        display: flex;
        flex-direction: row;
        gap: 6rem;
        padding: 4rem;
    }


    .practice-area-page {
        display: flex;
        flex-direction: row;
        gap: 6rem;
        padding: 4rem;
    }

    .nav-sidebar {
        display: block;
        width: 50rem;
    }

    #side-nav-links {
        display: flex;
        flex-direction: column;
        
    }

    #side-nav-links a {
        text-decoration: none;
        color: #1E3D2B;
        font-weight: 500;
        padding: 1rem;
        transition: color 0.3s ease, background-color 0.3s ease;
    }

    #side-nav-links a:hover {
        color: white;
        background-color: #9C7A2F;
    }

    #side-nav-links a.active {
        color: white;
        background-color: #9C7A2F;
        font-weight: 600;
    }

    #side-nav-links h3 {
        padding-bottom: 4rem;
    }

    .side-nav-heading h4 {
        text-wrap: nowrap;
        padding: 0.8rem 1rem;
    }

    .side-nav-decor-line {
        height: 1px;
        width: 100%;
        background-color: #9C7A2F;
    }

    .profile-page {
        padding: 4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .profile-page {
        padding: 4rem;
    }
}

/* -------------------------------------------------------------------------- DESKTOP -------------------------------------------------------------------------------------------*/

@media (min-width: 1440px) {

    .practice-area-page {
        padding: 4rem 12rem;
    }

    .profile-page {
        padding: 4rem 12rem;
    }

}
