/* ------------------------------------------------------------------------ CSS RERSET ------------------------------------------------------------------------------------------ */

*, *:before, *:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    background-color: #FAF7F2;
    overflow-x: hidden;
}
img {
    max-width: 100%;
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* accessibility for keyboards */
a:focus {
  outline: 2px solid #1E3D2B;
  outline-offset: 2px;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/inter-regular-webfont.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/inter-medium-webfont.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/inter-semibold-webfont.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Playfair Display";
    src: url("../assets/fonts/playfairdisplay-bold-webfont.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

h1 , h2 , h3 , h4 {
    font-family: "Playfair Display";
}

p { 
    font-family: "Inter";
    font-weight: 400;
    line-height: 1.6;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    color: #1E3D2B;
}

h2 {
    font-size: 2.3rem;
    line-height: 1.3;
    color: #1E3D2B;
}

h3 {
    font-size: 1.4rem;
    line-height: 1.3;
    color: #1E3D2B;
}

h4 {
    font-size: 1.1rem;
    line-height: 1.3;
}

a {
    font-family: "Inter";
    font-weight: 400;
    line-height: 1.6;
}

/* ---------------------------------------------------------------------------- MOBILE NAV ----------------------------------------------------------------------------------- */

.desktop-nav {
    display: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 10000;
}

.mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #FAF7F2;
    box-shadow: 1px 1px 4px #1E3D2B;
}

.mobile-nav-logo img {
    height: 70px;
    width: auto;
}

#hamburger-icon {
    background: none;
    border: none;
    cursor: pointer;
}

#hamburger-icon svg {
    width: 38px;
    height: 38px;
    stroke: #9C7A2F;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #FAF7F2;
    
}

.mobile-menu.active {
    display: flex;
}

.mobile-menu a {
    padding: 1rem;
    text-decoration: none;
    color: #1C1C1C;
    border-bottom: 1px solid #9C7A2F;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
}

.mobile-menu a:hover {
    background-color: #1E3D2B;
}


/* -------------------------------------------------------------------------- HERO SECTION --------------------------------------------------------------------------------------*/

.hero-law-firm-no-img {
    position: relative;
    height: 100svh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAF7F2;
}

.hero-content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    gap: 2rem;
    color: black;
    padding: 0 1rem;
}

.hero-content h1 {
    font-size: 3rem;
    text-decoration: underline 2px solid #9C7A2F;
    text-underline-offset: 0.1em;
}

.hero-content h2 {
    font-size: 1.8rem;
}

.hero-content h1, .hero-content h2 {
    text-shadow: 0.5px 0.5px 2px rgba(0,0,0,0.2);
}

.hero-content a {
    text-decoration: none;
    color: white;
    border: 1px solid #9C7A2F;
    border-radius: 0.5rem;
    padding: 1rem 4rem;
    align-items: center;
    margin: 2rem auto 0 auto;
    background-color: #1E3D2B;
    font-weight: bold;
    transition: color 0.3s ease, border 0.3s ease;
}

.hero-content a:hover {
    background-color: #9C7A2F;
    border: 1px solid #1E3D2B;
}

/* -------------------------------------------------------------------------- ABOUT SECTION -------------------------------------------------------------------------------------*/

.about-classic {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #FAF7F2;
}

.about-classic h2 {
    text-align: center;
    padding: 0 0 1rem 0;
}

.about-classic h3 {
    padding: 1rem 0 0 0;
}

/* -------------------------------------------------------------------------- PRACTICE SECTION -------------------------------------------------------------------------------------*/

.practice-classic-grid {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    background-color: #FAF7F2;
}

.practice-grid-heading {
    padding: 0 0 2rem 0;
}

.practice-grid-heading h2 {
    text-align: center;
    text-wrap: nowrap;
    padding: 0 1rem 2rem 1rem;
}

.practice-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    text-align: center;
}

.practice-card p {
    color: white;
    font-weight: 600;
}

.practice-card {
    border: 1px solid #9C7A2F;
    border-radius: 5px;
    background-color: #1E3D2B;
    box-shadow: 1px 1px 4px gray;
    text-decoration: none;
    padding: 1rem;
    transition: background-color 0.3s ease, border 0.3s ease;
}

.practice-card:hover {
    background-color: #9C7A2F;
    border: 1px solid #1E3D2B;
}

/* -------------------------------------------------------------------------- TEAM SECTION -------------------------------------------------------------------------------------*/

/* main container */
.team-circle-image-cards {
    padding: 2rem 2rem;
    background-color: #FAF7F2;
}

/* main heading container*/
.team-heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

/* subtext for heading */
.team-heading p {
    padding-bottom: 2rem;
    text-align: center;
}

.circle-image-card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 28rem;
    width: 100%;
    padding: 2rem 0;
}

.circle-image-card img {
    border: 1px solid white; 
    border-radius: 20rem;
    height: 16rem;
    width: 16rem;
    object-fit: cover;
    margin: 0 auto;
}

.circle-image-card-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.circle-image-card-info p {
    font-weight: 500;
}

.circle-image-card-info a {
    text-decoration: none;
    color: #9C7A2F;
    font-weight: 500;
    transition: color 0.3s ease;
}

.circle-image-card-info a:hover {
    color: #1E3D2B;
}

.card-info-decor-line {
    height: 1px;
    width: 100%;
    background-color: #1E3D2B;
    margin: 0 auto;
}

/* -------------------------------------------------------------------------- CONTACT SECTION -------------------------------------------------------------------------------------*/

.contact-side-by-side-form {
    padding: 2rem 1rem;
    min-width: 100%;
    background-color: #FAF7F2;
}

.contact-item {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0 0 1rem 0;
}

.contact-item a {
    text-decoration: none;
    color: #9C7A2F;
}

.contact-label {
    color: #1E3D2B;
    font-weight: 500;
}

.contact-icon {
    height: 20px;
    width: 20px;
    color: #9C7A2F;
}

.contact-us-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
}

.contact-us-details h2 {
    text-align: center;
}

#contact-us-para {
    text-align: center;
}

/* ------------------ Form ------------------ */

.contact-us-form {
    padding: 1rem;
    border: 1px solid #1E3D2B;
    border-radius: 5px;
    box-shadow: 1px 1px 4px silver;
}

.contact-us-form h3 {
    padding: 1rem 0;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0 1rem 0;
}

.form-group input, select, textarea {
    padding: 0.8rem;
}

.form-group select {
    margin-bottom: 1rem;
}

.form-group textarea{
    resize: horizontal;
    min-height: 10rem;
    max-height: 20rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    
}

.form-label {
    color: #9C7A2F;
    
}

.btn.btn-primary {
    margin-top: 2rem;
    width: 100%;
    height: 3rem;
    border:1px solid #9C7A2F;
    border-radius: 5px;
    background-color: #1E3D2B;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s ease;
}

.btn.btn-primary:hover {
    background-color: #9C7A2F;
}

/* -------------------------------------------------------------------------- FOOTER -------------------------------------------------------------------------------------*/

.four-column-footer {
    display: flex;
    flex-direction: column-reverse;
    padding: 4rem 1rem;
}

.footer-separator {
    height: 1px;
    width: 100%;
    background-color: #9C7A2F;
}

.footer-side-by-side {
    display: flex;
    flex-direction: row-reverse;
    gap: 6rem;
}

.footer-brand {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
}

.footer-brand img {
    width: 10rem;
    height: auto;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
    text-wrap: nowrap;
}

.footer-column iframe {
    width: auto;
    height: 14rem;
}

.copy-rights {
    text-align: center;
    padding-top: 2rem;
}

.footer-column a {
    text-decoration: none;
    color: #9C7A2F;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #1E3D2B;
}

/* ------------------------------------------------------------ EDGE CASE: small mobile screens -------------------------------------------------------------------------------- */

@media (max-width: 400px) {
    .about-classic {
        padding: 4rem 1rem 0 1rem;
    }

    .practice-grid {
        display: flex;
        flex-direction: column;
    }

    .footer-side-by-side {
        gap: 2rem
    }
}

/* -------------------------------------------------------------------------- TABLET -------------------------------------------------------------------------------------------*/

@media (min-width: 768px) {
    
    .mobile-nav {
        padding: 1rem 3rem;
    }

    .hero-image-column {
        width: 80%;
    }

    .about-classic {
        padding: 2rem 4rem;
    }

    .practice-classic-grid {
        padding: 2rem 4rem;
    }

    .team-circle-image-cards {
        padding: 4rem;
    }

    .team-circle-image-cards-flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .contact-side-by-side-form {
        padding: 0 4rem 2rem 4rem;
    }

    .four-column-footer {
        padding: 4rem;
    }

    .footer-side-by-side {
        gap: 12rem
    }

    .footer-brand img {
        margin-left: 6rem;
    }

}

/* -------------------------------------------------------------------------- LAPTOP -------------------------------------------------------------------------------------------*/

@media (min-width: 1024px) {


    /*--------------------------------------------------------------------------- DESKTOP NAVIGATION -------------------------------------------------------------------------- */

    .mobile-nav {
        display: none;
    }

    header {
        position: sticky;
        top: 0;
        background-color: #FAF7F2;
        box-shadow: 1px 1px 4px #1E3D2B;
        z-index: 1000;
    }

    .desktop-nav {
        display: block;
        padding: 1rem 4rem;
    }

    .desktop-nav-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem 0;
    }

    .desktop-nav-logo img {
        height: 80px;
        width: auto;
    }

    .desktop-nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .desktop-nav-links a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: #1E3D2B;
        font-weight: 500;
        font-size: 1.2rem;
        transition: color 0.3s ease;
    }

    .desktop-nav-links a::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #9C7A2F;
        transform: translateX(-50%);
        transition: width 0.3s ease;
    }

    .desktop-nav-links a:hover::after {
        width: 100%;
    }

    .desktop-nav-links a:hover {
        color: #9C7A2F;
    }

    /* ------------------------------------------------------------------------------- HERO SECTION ----------------------------------------------------------------------------- */

    .hero-content {
        padding: 0 6rem;
    }

    .about-classic {
        padding: 2rem 6rem;
    }

    #about-classic-first-center {
        text-align: center;
    }

    .practice-classic-grid {
        padding: 2rem 6rem;
    }

    .team-circle-image-cards {
        padding: 4rem 6rem;
    }

    .team-circle-image-cards-flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .contact-side-by-side-form {
        display: flex;
        flex-direction: row;
        padding: 2rem 6rem;
        gap: 2rem;
    }

    .contact-us-details {
        flex: 1;
    }

    .contact-us-form {
        flex: 1;
    }

    .four-column-footer {
       display: flex;
       flex-direction: column-reverse;
    }

    .footer-main {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        padding: 2rem 0;
        
    }

    .footer-main iframe {
        width: 20rem;
    }

    .footer-brand img{
        margin: 0;
    }

    .footer-brand {
        margin: 0 auto;
        align-items: center;
        padding-top: 2rem;
    }
    
}

/* -------------------------------------------------------------------------- DESKTOP -------------------------------------------------------------------------------------------*/

@media (min-width: 1440px) {
    
    .desktop-nav {
        padding: 0.5rem 14rem;
    }

    .desktop-nav-logo img {
        height: 100px;
        width: auto;
    }

    .hero-law-firm-side-by-side {
        padding: 4rem 12rem;
    }

    .hero-image-column {
        width: 50%;
        margin-left: 6rem;
    }

    .about-classic {
        padding: 2rem 12rem;
    }

    .about-us-page {
        padding: 4rem 12rem;
    }

    .practice-classic-grid {
        padding: 4rem 12rem;
    }

    .practice-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .team-circle-image-cards {
        padding: 4rem 12rem;
    }

    .team-circle-image-cards-flex {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    .contact-side-by-side-form {
        padding: 2rem 12rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 6rem;
        gap: 4rem
    }

    .contact-us-form {
        width: 30rem;
    }

    .four-column-footer {
        padding: 2rem 12rem;
    }

    .footer-main iframe {
        width: 40rem;
    }

}